[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "ace-window"]
	path = lib/ace-window
	url = git@github.com:abo-abo/ace-window.git
[submodule "ag"]
	path = lib/ag
	url = git@github.com:Wilfred/ag.el.git
[submodule "alert"]
	path = lib/alert
	url = git@github.com:jwiegley/alert.git
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "amd-mode"]
	path = lib/amd-mode
	url = git@github.com:NicolasPetton/amd-mode.el.git
[submodule "assess"]
	path = lib/assess
	url = git@github.com:phillord/assess.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = git@github.com:emacsmirror/auctex.git
[submodule "auth-password-store"]
	path = lib/auth-password-store
	url = git@github.com:DamienCassou/auth-password-store.git
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:tarsius/auto-compile.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "bash-completion"]
	path = lib/bash-completion
	url = git@github.com:szermatt/emacs-bash-completion.git
[submodule "beginend"]
	path = lib/beginend
	url = git@github.com:DamienCassou/beginend.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "buffer-move"]
	path = lib/buffer-move
	url = git@github.com:lukhas/buffer-move.git
[submodule "buffer-watcher"]
	path = lib/buffer-watcher
	url = git@github.com:NicolasPetton/buffer-watcher.git
[submodule "buttercup"]
	path = lib/buttercup
	url = git@github.com:jorgenschaefer/emacs-buttercup.git
[submodule "cider"]
	path = lib/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "clj-refactor"]
	path = lib/clj-refactor
	url = git@github.com:clojure-emacs/clj-refactor.el.git
[submodule "clojure-mode"]
	path = lib/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "command-log-mode"]
	path = lib/command-log-mode
	url = git@github.com:lewang/command-log-mode.git
[submodule "company"]
	path = lib/company
	url = git@github.com:company-mode/company-mode.git
[submodule "company-restclient"]
	path = lib/company-restclient
	url = git@github.com:iquiw/company-restclient.git
[submodule "company-tern"]
	path = lib/company-tern
	url = git@github.com:proofit404/company-tern.git
[submodule "counsel-projectile"]
	path = lib/counsel-projectile
	url = git@github.com:ericdanan/counsel-projectile.git
[submodule "csharp-mode"]
	path = lib/csharp-mode
	url = git@github.com:josteink/csharp-mode.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-makeinfo = dash-template.texi
[submodule "debbugs"]
	path = lib/debbugs
	url = git@github.com:emacsmirror/debbugs.git
[submodule "devdocs"]
	path = lib/devdocs
	url = git@github.com:xuchunyang/devdocs.el.git
	remote = "nico git@github.com:NicolasPetton/devdocs.el.git"
	pushDefault = nico
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diminish"]
	path = lib/diminish
	url = git@github.com:myrjola/diminish.el.git
[submodule "dired-du"]
	path = lib/dired-du
	url = git@github.com:emacsmirror/dired-du.git
[submodule "drag-stuff"]
	path = lib/drag-stuff
	url = git@github.com:rejeep/drag-stuff.el.git
[submodule "duplicate-thing"]
	path = lib/duplicate-thing
	url = git@github.com:ongaeshi/duplicate-thing.git
[submodule "ecukes"]
	path = lib/ecukes
	url = git@github.com:ecukes/ecukes.git
[submodule "editorconfig"]
	path = lib/editorconfig
	url = git@github.com:editorconfig/editorconfig-emacs.git
[submodule "edn"]
	path = lib/edn
	url = git@github.com:expez/edn.el.git
[submodule "elbank"]
	path = lib/elbank
	url = git@gitlab.petton.fr:nico/elbank.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = git@github.com:Wilfred/refs.el.git
[submodule "emacs-js"]
	path = lib/emacs-js
	load-path = .
	load-path = widgetjs
	url = git@github.com:foretagsplatsen/emacs-js.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "epl"]
	path = lib/epl
	url = git@github.com:cask/epl.git
[submodule "eslintd-fix"]
	path = lib/eslintd-fix
	url = git@github.com:aaronjensen/eslintd-fix.git
[submodule "esxml"]
	path = lib/esxml
	url = git@github.com:tali713/esxml.git
[submodule "expand-region"]
	path = lib/expand-region
	url = git@github.com:magnars/expand-region.el.git
[submodule "exwm"]
	path = lib/exwm
	url = git@github.com:ch11ng/exwm.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "feature-mode"]
	path = lib/feature-mode
	url = git@github.com:michaelklishin/cucumber.el.git
[submodule "finalize"]
	path = lib/finalize
	url = git@github.com:skeeto/elisp-finalize.git
[submodule "flycheck"]
	path = lib/flycheck
	url = git@github.com:flycheck/flycheck.git
[submodule "flyspell-correct"]
	path = lib/flyspell-correct
	url = git@github.com:d12frosted/flyspell-correct.git
[submodule "font-lock+"]
	path = lib/font-lock+
	url = git@github.com:emacsmirror/font-lock-plus.git
[submodule "frame-cmds"]
	path = lib/frame-cmds
	url = git@github.com:emacsmirror/frame-cmds.git
[submodule "frame-fns"]
	path = lib/frame-fns
	url = git@github.com:emacsmirror/frame-fns.git
[submodule "ftgp"]
	path = lib/ftgp
	url = git@gitlab.petton.fr:ftgp/emacs.git
[submodule "geiser"]
	path = lib/geiser
	url = git@github.com:jaor/geiser.git
	info-path = doc/
	load-path = elisp
	build-step = ./autogen.sh
	build-step = ./configure
	build-step = make
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = git@github.com:pidu/git-timemachine.git
[submodule "gnome-calendar"]
	path = lib/gnome-calendar
	url = git@github.com:NicolasPetton/gnome-calendar.el.git
[submodule "grunt"]
	path = lib/grunt
	url = git@github.com:gempesaw/grunt.el.git
[submodule "gulp-task-runner"]
	path = lib/gulp-task-runner
	url = git@github.com:NicolasPetton/gulp-task-runner.git
[submodule "helpful"]
	path = lib/helpful
	url = git@github.com:Wilfred/helpful.git
[submodule "hierarchy"]
	path = lib/hierarchy
	url = git@github.com:DamienCassou/hierarchy.git
[submodule "hydra"]
	path = lib/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "indium"]
	path = lib/indium
	url = git@github.com:NicolasPetton/Indium.git
	info-path = doc
[submodule "ivy"]
	path = lib/ivy
	url = git@github.com:abo-abo/swiper.git
[submodule "js2-mode"]
	path = lib/js2-mode
	url = git@github.com:mooz/js2-mode.git
[submodule "js2-refactor"]
	path = lib/js2-refactor
	url = git@github.com:magnars/js2-refactor.el.git
[submodule "json-mode"]
	path = lib/json-mode
	url = git@github.com:joshwnj/json-mode.git
[submodule "json-navigator"]
	path = lib/json-navigator
	url = git@github.com:DamienCassou/json-navigator.git
[submodule "json-reformat"]
	path = lib/json-reformat
	url = git@github.com:gongo/json-reformat.git
[submodule "json-snatcher"]
	path = lib/json-snatcher
	url = git@github.com:Sterlingg/json-snatcher.git
[submodule "jss"]
	path = lib/jss
	url = git@github.com:segv/jss.git
[submodule "jump"]
	path = lib/jump
	url = git@github.com:eschulte/jump.el.git
[submodule "justify-kp"]
	path = lib/justify-kp
	url = git@github.com:Fuco1/justify-kp.git
[submodule "klassified"]
	path = lib/klassified
	url = https://github.com/DamienCassou/klassified.el.git
[submodule "know-your-http-well"]
	path = lib/know-your-http-well
	load-path = emacs
	url = git@github.com:for-GET/know-your-http-well.git
[submodule "ledger-mode"]
	path = lib/ledger-mode
	url = git@github.com:ledger/ledger-mode.git
[submodule "less-css-mode"]
	path = lib/less-css-mode
	url = git@github.com:purcell/less-css-mode.git
[submodule "list-utils"]
	path = lib/list-utils
	url = git@github.com:rolandwalker/list-utils.git
[submodule "load-relative"]
	path = lib/load-relative
	url = git@github.com:rocky/emacs-load-relative.git
[submodule "loc-changes"]
	path = lib/loc-changes
	url = git@github.com:rocky/emacs-loc-changes.git
[submodule "loop"]
	path = lib/loop
	url = git@github.com:Wilfred/loop.el.git
[submodule "m-buffer"]
	path = lib/m-buffer
	url = git@github.com:phillord/m-buffer-el.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	info-path = Documentation
[submodule "magit-popup"]
	path = lib/magit-popup
	url = git@github.com:magit/magit-popup.git
[submodule "make-it-so"]
	path = lib/make-it-so
	url = git@github.com:abo-abo/make-it-so.git
[submodule "makey"]
	path = lib/makey
	url = git@github.com:mickeynp/makey.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "memoize"]
	path = lib/memoize
	url = git@github.com:skeeto/emacs-memoize.git
[submodule "minions"]
	path = lib/minions
	url = git@github.com:tarsius/minions.git
[submodule "multiple-cursors"]
	path = lib/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:tarsius/no-littering.git
	remote = "nico git@github.com:NicolasPetton/no-littering.git"
	pushDefault = nico
[submodule "notmuch"]
	path = lib/notmuch
	load-path = emacs
	info-path = doc/_build/texinfo
	build-step = ./configure
	build-step = make
	build-step = make sphinx-texinfo
	build-step = borg-makeinfo
	url = git://notmuchmail.org/git/notmuch
[submodule "nov"]
	path = lib/nov
	url = git@github.com:wasamasa/nov.el.git
[submodule "omnisharp"]
	path = lib/omnisharp
	url = git@github.com:OmniSharp/omnisharp-emacs.git
[submodule "org"]
	path = lib/org
	load-path = lisp
	load-path = contrib/lisp
	info-path = doc
	url = https://code.orgmode.org/bzg/org-mode.git
	build-step = make compile autoloads info
[submodule "org-bullets"]
	path = lib/org-bullets
	url = git@github.com:emacsorphanage/org-bullets.git
[submodule "org-gnome"]
	path = lib/org-gnome
	url = git@github.com:NicolasPetton/org-gnome.el.git
[submodule "org-gnome-calendar"]
	path = lib/org-gnome-calendar
	url = git@github.com:llvilanova/org-gnome-calendar.git
[submodule "org-pomodoro"]
	path = lib/org-pomodoro
	url = git@github.com:lolownia/org-pomodoro.git
[submodule "org-vcard"]
	path = lib/org-vcard
	url = git@github.com:flexibeast/org-vcard.git
[submodule "ox-twbs"]
	path = lib/ox-twbs
	url = git@github.com:marsmining/ox-twbs.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:tarsius/packed.git
[submodule "paredit"]
	path = lib/paredit
	url = http://mumble.net/~campbell/git/paredit.git
[submodule "pass"]
	path = lib/pass
	url = git@github.com:NicolasPetton/pass.git
[submodule "pass-secrets"]
	path = lib/pass-secrets
	url = git@gitlab.petton.fr:nico/pass-secrets.el.git
[submodule "password-store"]
	path = lib/password-store
	url = git@github.com:emacsmirror/password-store.git
[submodule "password-store-otp"]
	path = lib/password-store-otp
	url = git@github.com:volrath/password-store-otp.el.git
[submodule "pcmpl-git"]
	path = lib/pcmpl-git
	url = git@github.com:leoliu/pcmpl-git-el.git
[submodule "pcomplete-extension"]
	path = lib/pcomplete-extension
	url = git@github.com:thierryvolpiatto/pcomplete-extension.git
[submodule "pdf-tools"]
	path = lib/pdf-tools
	url = git@github.com:politza/pdf-tools.git
	build-step = make install-server-deps
	build-step = make -s
	build-step = borg-update-autoloads
	build-step = borg-byte-compile
[submodule "peg"]
	path = lib/peg
	url = git@github.com:ellerh/peg.el.git
[submodule "pkg-info"]
	path = lib/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "prodigy"]
	path = lib/prodigy
	url = git@github.com:rejeep/prodigy.el.git
[submodule "projectile"]
	path = lib/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "rainbow-mode"]
	path = lib/rainbow-mode
	url = git@github.com:emacsmirror/rainbow-mode.git
[submodule "realgud"]
	path = lib/realgud
	url = git@github.com:rocky/emacs-dbgr.git
[submodule "realgud-byebug"]
	path = lib/realgud-byebug
	url = git@github.com:rocky/realgud-byebug.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "restclient"]
	path = lib/restclient
	url = git@github.com:pashky/restclient.el.git
[submodule "rjsx-mode"]
	path = lib/rjsx-mode
	url = git@github.com:felipeochoa/rjsx-mode.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "shell-switcher"]
	path = lib/shell-switcher
	url = git@github.com:DamienCassou/shell-switcher.git
[submodule "shut-up"]
	path = lib/shut-up
	url = git@github.com:cask/shut-up.git
[submodule "sicp"]
	path = lib/sicp
	url = git@github.com:webframp/sicp-info.git
[submodule "skeletor"]
	path = lib/skeletor
	url = git@github.com:chrisbarrett/skeletor.el.git
[submodule "slime"]
	path = lib/slime
	url = git@github.com:slime/slime.git
[submodule "smex"]
	path = lib/smex
	url = git@github.com:nonsequitur/smex.git
[submodule "solarized-theme"]
	path = lib/solarized-theme
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "sourcemap"]
	path = lib/sourcemap
	url = git@github.com:syohex/emacs-sourcemap.git
[submodule "spinner"]
	path = lib/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "stream"]
	path = lib/stream
	url = git@github.com:emacsmirror/stream.git
[submodule "sudo-edit"]
	path = lib/sudo-edit
	url = git@github.com:nflath/sudo-edit.git
[submodule "systemd"]
	path = lib/systemd
	url = git@github.com:holomorph/systemd-mode.git
[submodule "tablist"]
	path = lib/tablist
	url = git@github.com:politza/tablist.git
[submodule "telepathy"]
	path = lib/telepathy
	url = git@github.com:NicolasPetton/telepathy.el.git
[submodule "tern"]
	path = lib/tern
	load-path = emacs
	build-step = npm install
	url = git@github.com:ternjs/tern.git
[submodule "tide"]
	path = lib/tide
	url = git@github.com:ananthakumaran/tide.git
[submodule "transmission"]
	path = lib/transmission
	url = git@github.com:holomorph/transmission.git
[submodule "typescript-mode"]
	path = lib/typescript-mode
	url = git@github.com:ananthakumaran/typescript.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "web-mode"]
	path = lib/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "websocket"]
	path = lib/websocket
	url = git@github.com:ahyatt/emacs-websocket.git
[submodule "wgrep"]
	path = lib/wgrep
	url = git@github.com:mhayashi1120/Emacs-wgrep.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "xelb"]
	path = lib/xelb
	url = git@github.com:ch11ng/xelb.git
[submodule "xref-js2"]
	path = lib/xref-js2
	url = git@github.com:NicolasPetton/xref-js2.git
[submodule "yaml-mode"]
	path = lib/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "zerodark-theme"]
	path = lib/zerodark-theme
	url = git@github.com:NicolasPetton/zerodark-theme.git
[submodule "zoom-frm"]
	path = lib/zoom-frm
	url = git@github.com:emacsmirror/zoom-frm.git
